
@media (max-width:360px){
  p{
    font-size:9px;
  }

  h3{
    font-size: 12px;
  }

  body{
    margin:0 auto;
    width:500px;
  }

}
body{

font-family: 'Lato', sans-serif;
font-size: 18px;
}

p {
  line-height: 150%;
  text-align:justify;
  }
  .back_image{
    height:350px ;
     width:150% ;
     opacity: .5;
     margin-left:0; 
  }

  .margin_texts{
    margin-left:7.5%;
    margin-right:7.5%;
  }