<template>
  <div class="content">
    <p>
      Somos una empresa con más de 20 años en el sector de la construcción. Nos hemos dedicato tanto a obra nueva como a reformas integrales.
      Nuestro objetivo es realizar trabajos con la máxima garantía de calidad a un precio muy ajustado gracias a una eficiente estructura empresarial.
    </p>
    <h3>Nuestra Filosofía</h3>
    <p>
      Our aim is to provide clients with absolute certainty in the supply of high quality interior fit-out or refurbishment projects.
      To achieve this requires our wealth of experience, excellent communication skills and a truly professional approach.
      We believe that the construction process benefits from a true team approach, and partnering with clients and construction professionals is our intention in order to benefit our clients.
    </p>
  </div>
</template>

<script>
export default {
  name: "aboutUs",
};
</script>

<style>
.content{
margin-top:180px;
margin-left:7.5%;
margin-right:7.5%;

}

</style>