<template>
  <div>
    <div><img class="back_image" src="https://images.unsplash.com/photo-1563396983244-1ee3ca546310?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1990&q=80" ></div>
    <div class = "text"><h2>Puedes contactarnos por teléfono o por email</h2>
   <p > (También atendemos por Whatsapp) <br>
    Teléfono: +34 651 80 49 96 <br>
    e-mail: info@tangel.es</p>
    <div class="image_text"><h2>Contáctanos</h2></div>
    <ContactForm/></div>
  </div>
</template>

<script>
import ContactForm from '../components/ContactForm'
export default {
  name: "Contact",
  components:{
    ContactForm,
  }
  // se carga mal la primera vez
  
}
</script>

<style>
.back_image{
  height:350px ;
   width:150% ;
   opacity: .5;
   margin-left:0; 
}

.image_text{
  position:absolute;
  top: 20%;
  left: 12%;
  font-size:30px;
  color:white;
}

.text{
  margin-left:12%;
  margin-right:12%;
}

</style>