<template>
  <div class="content">
    <h3>Calle Diputació, 27</h3>
    <p>
      Este proyecto se encuentra en Guadassuar, un dinámico pueblo de la Ribera Alta a escasos 30 kilómetros de Valencia. La promoción esta situada en uno de los ejes vertebradores del núcleo urbano: Avenida Diputación. La cual cuenta con fácil acceso a la autovia.
      En esta avenida llena de vida se ponen a la venta 4 viviendas de 135m2. Las viviendas cuentan con 2 dormitorios dobles y un dormitorio simple/despacho, 2 baños completos, cocina bien equipada y amueblada, terraza de 25m2 y plaza de parking con trastero en sótano.
      El diseño de las viviendas es de corte minimalista escandinavo, mezclando colores cálidos, suelos en madera y simplicidad en sus lineas.
      El proceso de personalización disponible permite obtener una vivienda única en su estándar.
    </p>
  </div>
</template>

<script>
export default {
  name: "Diputació",
};
</script>

<style>
@media (max-width: 365px) {
  .content {
    margin-top: 180px;
    margin-left: 7.5%;
    margin-right: 7.5%;
  }
}
</style>