<template>
  <div>
    <!-- <h6>Presupuesto sin compromiso fixe?</h6>
    <h6>Cookies?</h6>-->
    <div>
      <Slider />
    </div>

    <div class="company">
      <h2>Empresa Constructora en València</h2>
      <div class="company_content">
        <div class="company_text">
          <p>
            <strong>We aim to bring our wealth of experience to the management of any construction or re-fit programme.</strong>
            <br />This leaves our customers to continue with their core business interests unimpeded by unnecessary distractions. Virtus Contracts Limited undertake office refits / refurbishments, interior design, property construction / alteration projects and contract management.
            Engaging with Virtus means that you have instant access to our broad range of Construction Management expertise over all industry and business sectors.
            This means we are able to provide you with high-calibre teams for a wide range of projects. In addition, you will work alongside your dedicated Account Manager who is focussed on building a lasting client relationship.
          </p>
        </div>
        <div>
          <img
            class="company_image"
            src="https://cdn.pixabay.com/photo/2018/07/14/15/27/cafe-3537801_960_720.jpg"
            width="450px;"
          />
        </div>
      </div>
    </div>

    <div class="our_Phy">
      <div class="our_Phy_Text">
        <h2>Nuestra Filosofía</h2>
        <p>
          Nuestro objetivo es proporcionar a los clientes una certeza absoluta en el suministro de proyectos de acondicionamiento o rehabilitación de interiores de alta calidad.
          Para lograr esto, se requiere nuestra gran experiencia, excelentes habilidades de comunicación y un enfoque verdaderamente profesional.
          Creemos que el proceso de construcción se beneficia de un verdadero enfoque de equipo, y nuestra intención es asociarnos con clientes y profesionales de la construcción para beneficiar a nuestros clientes.
        </p>
      </div>
    </div>

    <div class="our_Projects">
      <h1>Nuestros Proyectos</h1>
      <div class="our_projects_pics">
        <img
          class="project_pic"
          src="https://images.unsplash.com/photo-1596116134759-2b9a64171884?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjE2ODQ0fQ&auto=format&fit=crop&w=500&q=60"
          alt
        />
        <img
          class="project_pic"
          src="https://images.unsplash.com/photo-1470219556762-1771e7f9427d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
          alt
        />
        <img
          class="project_pic"
          src="https://images.unsplash.com/photo-1485628390555-1a7bd503f9fe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
          alt
        />
        <img
          class="project_pic"
          src="https://images.unsplash.com/photo-1498373419901-52eba931dc4f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
          alt
        />
        <img
          class="project_pic"
          src="https://images.unsplash.com/photo-1451153378752-16ef2b36ad05?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
          alt
        />
        <img
          class="project_pic"
          src="https://images.unsplash.com/photo-1451976426598-a7593bd6d0b2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
          alt
        />
        <img
          class="project_pic"
          src="https://images.unsplash.com/photo-1554357475-178e991dba11?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
          alt
        />
        <img
          class="project_pic"
          src="https://images.unsplash.com/photo-1502104034360-73176bb1e92e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
          alt
        />
        <img class="project_pic" src alt />
      </div>
    </div>

    <!-- <img src="https://cdn.pixabay.com/photo/2020/07/15/23/39/woman-5409203_960_720.jpg" alt=""> -->
    <!-- <p>deploy de Fotos passant virtus més text també link a contacte</p> -->

    <!-- <p>
      .Empresa constructora
      . Nuestra Filosofía
      .Nuestros proyectos (fotos)
      . Resumen de servicios(reforma, obra nueva) + botó link (descubre más) cenefa
    </p>-->
  </div>
</template>

<script>
import Slider from "../components/Slider.vue";
export default {
  name: "Home",
  components: {
    Slider,
  },
};
</script>

<style>
.our_Phy {
  
  background-image: url("https://cdn.pixabay.com/photo/2019/09/23/16/39/square-4499056_960_720.jpg");
  background-size: cover;
  justify-content: center;
  color: white;
  text-align: center;
  display: inline-block;
  height: 375px;
}

.our_Phy_Text {
  text-align: center;
  display: inline-block;
  margin-left:12%;
  margin-right:12%;
}

.company {
  margin-left: 12%;
  margin-right: 12%;
  
  
}
.company_content{
display: flex;
}

.company_image{
  margin-left:12%;
}

.company h2 {
  font-size: 48px;
  color: green;
}

.our_Projects {
  font-size: 34px;
  color: green;
}
.our_Projects h1 {
  margin-left: 12%;
  margin-right: 12%;
}

.our_projects_pics {
  position: absolute;
  margin-left: 12%;
  margin-right: 12%;
}

.project_pic {
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
}
</style>