<template>
  <div class="content">
    <h1>Locales Comerciales y Negocios</h1>
    <p>
      En Montaplac somos expertos en reformas integrales de locales comerciales y negocios en Barcelona. ¿Tienes un buen producto y ofreces un gran servicio, pero cuando la gente pasa por delante de tu comercio no se decide a entrar? Nuestro equipo de profesionales le dará una nueva vida a tu local ofreciéndote la mejor alternativa en diseño y funcionalidad de acuerdo a tus necesidades, gustos y preferencias.
      En todos nuestros proyectos contamos con un equipo propio de ingenieros, instaladores, arquitectos, interioristas y constructores, lo que nos permite ajustar al máximo el precio de la reforma y los plazos de ejecución.
      Ya sea una reforma parcial o integral de un local público, local comercial o nave industrial, nos implicamos en todos los aspectos y fases de planificación, definición del proyecto y ejecución, hasta la entrega de llaves.
    </p>
    <h4>¿Qué podemos hacer por ti?</h4>
    <p>
      Realizamos cualquier tipo de trámite con las diferentes administraciones relacionado con la reforma de negocios y locales comerciales:
      Licencias de actividad
      Permisos de obra
      Legalizaciones de obras
      Comunicados de obras
      Cédulas de habitabilidad
      ARQUITECTURA
      Nuestro equipo de Arquitectos en Barcelona realiza proyectos a medida, según las necesidades de cada cliente:
      Estudio de proyecto
      Peritaciones
      Legalizaciones
      Gestión de los permisos
      Cédulas de habitabilidad
      Control de presupuestos
      INGENIERÍA
      Realizamos diferentes tipos de control como la correcta instalación de electricidad, fontanería, climatización, telecomunicaciones y protección contra incendios.
      Control de presupuestos
      Gestion de los permisos
      Licencias de actividad
      Legalizaciones
      Intervenciones periciales
      INTERIORISMO
      Le asesoraremos sobre la distribución ideal del espacio y sobre todos los aspectos relacionados con la decoración: mobiliario, materiales, acabados, colores…
      Anteproyecto
      Proyecto de diseño de interior
      Decoración
      Asesoramiento continuo
      Gestión de proyecto
      Además, contamos con una oferta especial para la reforma de locales comerciales. ¡Comprueba por ti mismo que nuestros precios no tienen competencia!
      MÁS INFORMACIÓN
      PÍDENOS PRESUPUESTO SIN COMPROMISO
      Enviando este email aceptas nuestra Política de Privacidad.
      SOLO PRIMERAS MARCAS
    </p>
  </div>
</template>

<script>
export default {
  name: "Locales",
};
</script>

<style>
.content{
margin-top:180px;
margin-left:7.5%;
margin-right:7.5%;

}
</style>