<template>
  <div class="content">
    <h1>Obra Nueva</h1>
    <p>
     En Tangel contamos con más de dos décadas de  entrega y dedicación en el sector, gracias a las cuales estamos capacitados para realizar cualquier tipo de proyecto de obra nueva.  
Si tienes una idea de hogar soñado, puedes contar con nosotros para hacerlo realidad. Pero no sólo eso, además lo realizaremos al menor coste posible, con la mayor brevedad y... ¡Sin tener que renunciar a 
los más altos estándares de calidad!
Además ofrecemos todos los servicios: cimentación, estructura, albañilería, carpintería, fontanería, pintura, electricidad, iluminación, calefacción y gas, decoración etc. 
Si todavía te queda alguna pregunta, tenemos un increíble equipo de arquitectos que te podrán asesorar: ¿Te preocupa la concreción del proyecto?, ¿la tramitación de licencias?. No lo dudes y escríbenos. 
    </p>
    <h3>PÍDENOS PRESUPUESTO SIN COMPROMISO</h3>
    <p>
      Será un placer que nos conozcas en persona y mostrarte por qué la satisfacción de nuestros clientes es nuestro mejor aval. 
Puedes llamarnos al (+34) 651 80 49 96. Te atenderemos personalmente y hablaremos sobre tu proyecto de reforma. 
    </p>
    <img src="https://cdn.pixabay.com/photo/2016/11/24/20/30/architecture-1857175_960_720.jpg" alt />
  </div>
</template>

<script>
export default {
  name: "ObraNueva",
};
</script>

<style>
.content{
margin-top:180px;
margin-left:7.5%;
margin-right:7.5%;

}


</style>