<template>
  <div class="content">
    <h2>Construímos la muralla china y tiramos el muro de Berlín</h2>
  </div>
</template>

<script>
export default {
  name: "OurProjects",
};
</script>

<style>
.content{
margin-top:180px;
margin-left:7.5%;
margin-right:7.5%;

}
</style>