<template>
  <div class="content">
<h3>2x1 en Calipos</h3>
  </div>
</template>

<script>
export default {
  name:'Promos'
}
</script>

<style>
.content{
margin-top:180px;
margin-left:7.5%;
margin-right:7.5%;

}
</style>