<template>
  <div class="content">
    <h1>Reformas Integrales </h1>
    <p>
    Si cree que su piso, su casa, la oficina donde trabaja o su local comercial necesitan una reforma integral, le interesará saber que en Tangel llevamos más de 20 años realizando este tipo de trabajos
en la Comunidad Valenciana. 
No importa el tipo de proyecto que tengas en mente ni qué características o requerimientos técnicos (o estéticos) plantee. Nos ocuparemos de realizar siempre la máxima calidad en los serivicios, materiales y acabados. Y todo esto sin olvidarnos de hacerlo de la forma más económica posible. 
Nos interesa que su inmueble pueda ser reformado de forma altamente satisfactoria y a un precio que no encontrará en ninguna otra empresa en Valencia.
    </p>
  </div>
</template>

<script>
export default {
  name: 'Reformas',
}
</script>

<style>
.content{
margin-top:180px;
margin-left:7.5%;
margin-right:7.5%;

}

</style>