<template>
  <div>
    <h2>O si lo prefieres, escríbenos desde aquí mismo</h2>
<!-- <form class="contact_form">
  <div class="left_side">
    <input type="text" id="input-name" placeholder="Nombre">
    <input type="email" id="input-email" placeholder="Dirección de email">
    <input type="text" id="input-subject" placeholder="Asunto">
  </div>
  <div class="right_side">
    <textarea name="message" type="text" id="input-message" placeholder="Mensaje"></textarea>
  </div>  
  <input type="submit" value="Submit" id="input-submit">
</form> -->

<form action=”mailto:rouredet@hotmail.com”
method=”POST”
enctype=”multipart/form-data”
name=”EmailForm”>
Nombre:<br>
<input type=”text” size=”19″ name=”Nombre”><br><br>
Asunto:<br>
<input type=”text” size=”19″ name=”Asunto”><br>
Mensaje:<br> <textarea name=”ContactCommentt” rows=”6″ cols=”20″>
</textarea><br><br> <button type=”submit” value=”Submit”> Enviar </button>
</form>
  </div>
</template>

<script>
export default {
  name:'ContactForm',
  
}
</script>

<style>
.contact_form{
  font-size:33px;
 
}
input{
  border-radius:15%;
}

</style>