<template>
  <div class="menu-item"  @mouseover="isOpen = true" @mouseleave="isOpen = false">
    <a href="#">{{title}}</a>
    <svg viewBox="0 0 1030 638" width="10">
      <path
        d="M1017 68L541 626q-11 12-26 12t-26-12L13 68Q-3 49 6 24.5T39 0h952q24 0 33 24.5t-7 43.5z"
        fill="#000"
      />
    </svg>

    <transition name="fade" appear>
      <div class="sub-menu" v-show="isOpen" @click="isOpen=false">
        <div v-for="(item, i) in items" :key="i" class="menu-item">
          <router-link :to="item.link">{{item.title}}</router-link>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  name: "Dropdown",
  props: ["title", "items"],
  data() {
    return {
      isOpen: false
    };
  },

  methods: {
   
  }
};
</script>


<style>

nav .menu-item svg {
  width: 10px;
  margin-left: 10px;
  
}
nav .menu-item .sub-menu {
  position: absolute;

  top: calc(100% + 8px);
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  background:forestgreen;
}
.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s ease-out;
}
.fade-enter,
.fade-leave-to {
  opacity: 1;
}

</style>