<template>
  <div>
    <div class="container">
      <div class="logo">
        <router-link class="menu-item" to="/">
          <img src="../assets/tangel 3.png" width="120px" />
        </router-link>
      </div>
      <nav>
        <router-link class="menu-item" to="/aboutUs">Quiénes Somos</router-link>
        <dropdown :items="servicios" title="Servicios" />
        <dropdown :items="promociones" title="Promociones" />
        <router-link class="menu-item" to="/ourprojects">Proyectos Realizados</router-link>
        <router-link class="menu-item" to="/contact">Contacto</router-link>
      </nav>
    </div>
    <router-view />
  </div>
</template>

<script>
import Dropdown from "./Dropdown.vue";
export default {
  name: "NavBar",
  components: {
    Dropdown,
  },
  data() {
    return {
      servicios: [
        {
          title: "Obra Nueva",
          link: "/obraNueva",
        },

        {
          title: "Reforma Viviendas",
          link: "/reformas",
        },

        {
          title: "Locales Comerciales",
          link: "/locales",
        },
      ],
      promociones: [
        {
          title: "Diputació 27",
          link: "/diputacio",
        },
      ],
    };
  },

  methods: {},
};
</script>

<style>
@media (max-width: 360px) {
  img {
    width: 60px;
  }
}

a {
  outline: none;
}

.container {
  
  background-color:forestgreen;
  margin-top: 20.5px;
  margin-bottom: 100.5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  position:fixed;
  top:0;
  z-index:2;
}

nav {
  z-index: 1;
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right:12%;
}
nav .menu-item {
  font-size: 24px;
  text-decoration: none;
  color: white;
  padding: 5px 20px;
  position: relative;
  text-align: center;
  border-bottom: 2px solid transparent;
  display: flex;
  transition: 0.4s;
  outline: none;
}
nav .menu-item.active,
nav .menu-item:hover {
  border-bottom-color: white;
}
nav .menu-item a {
  /* background-color:grey; */
  color: inherit;
  text-decoration: none;
}

.logo{
  margin-left:12%;
}
</style>