<template>
  <!-- Poner los números dentro del slider o como mínimo pegados.  -->
  <div class="slider">
    <div :style="`background-image:url(${slides[currentPic]})`" class="slider_image"></div>
    <h3>Bienvenido/a a Tangel</h3>
    <router-link to="/contact">
      <button>Contáctanos</button>
    </router-link>
    <router-view />
  </div>
</template>

<script>
const INTERVAL = 4000;

export default {
  name: "Slider",

  data() {
    return {
      slides: [
        "https://cdn.pixabay.com/photo/2020/07/23/01/16/heritage-5430081_960_720.jpg",
        "https://cdn.pixabay.com/photo/2020/07/23/21/34/arc-de-triomphe-5432392_960_720.jpg",
        "https://cdn.pixabay.com/photo/2020/07/03/16/42/amsterdam-5367020_960_720.jpg",
        "https://cdn.pixabay.com/photo/2020/07/15/19/01/sunset-5408739_960_720.jpg",
      ],
      currentPic: 0,
    };
  },

  mounted() {
    this.changeImage();
  },

  methods: {
    changeImage() {
      setInterval(this.chooseImage, INTERVAL);
    },

    chooseImage() {
      this.currentPic++;
      if (this.currentPic > 3) {
        this.currentPic = 0;
      }
    },
  },
};
</script>

<style>
.slider {
  position: relative;
}

.slider_image {
  height: 720px;
  background-position: center;
  background-size: cover;
  justify-content: center;
  opacity: 0.45;
  z-index: 0;
}

h3 {
  font-size: 35px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:#00AA95;
  width: 130.5px;
  height:45px;
  font-size: 20px;
  display:inline-block;
  text-align:center;
  margin-top:10px;
  color:white;
  /* padding: 15px 32px; */
}

button:hover{
  cursor: pointer;
  background-color:navy;
}
</style>

