<template>
  <div>
    <div class="web">
      <nav-bar></nav-bar>
    </div>
  </div>
</template>

<script>
import NavBar from "./components/NavBar";
export default {
  name: "App",
  components: {
    NavBar,
  },
};
</script>

<style>
p{
  font-size:20px;
}
</style>
